* {
    box-sizing:border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: #fff; 
}

.promo {
    background-color: #71231d;
    background-image: url(./img/wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 260px;
}

.promo__container {
    max-width: 1410px;
    margin-right: auto;
    margin-left: auto;
}

.promo__header {
    margin-bottom: 240px;
}

.promo__logo {
    vertical-align: top;
    display: inline-block;
}

.nav {
    float:right;
    vertical-align: top;
}

.nav__link {
    color: #ffffff;
    line-height: 24px;
    letter-spacing: 0.35px;
    text-decoration: none;
    margin-right: 30px;
    text-transform: capitalize;
    vertical-align: bottom;
}

.nav__link:hover {
    border-bottom: 1px solid #fff;
}

.nav__link:last-child {
    margin-right: 0;
}

.promo__about {
    text-align: center;
    margin-bottom: 50px;
}

.promo__title {
    margin-top: 0px;
    margin-bottom: 25px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 48px;
    line-height:1.2;
}

.promo__text {
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform: capitalize;
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    line-height: 1.2;
}

.btn-box {
    text-align: center;
}

.btn-start {
    width: 180px;
    height: 50px;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 2px;
    background: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.btn-start:hover {
    background-color: rgba(255, 255, 255, 0.315);
}

.services {  
    color: #555;
    font-size: 14px;
    padding-top: 92px;
    padding-bottom: 100px;
}

.wrapper {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.content-header{
    margin-bottom: 70px;
}

.about-us {
    color: #555;
    font-size: 14px;
    padding-bottom: 100px;
}

.services__advantages {
    font-size: 0px;
}

.advantages-item {
    font-size: 14px;
    display: inline-block;
    width: 345px;
    height: auto;
    margin-right: 30px;
}

.advantages-item:last-child {
    margin-right: 0;
}

.item-title {
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 15px;
    line-height: 24px;
}

.item-text {
    font-family: 'Roboto Slab', serif;
    line-height: 24px;
    margin:0;
}

.title {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 58px;
    line-height: 24px;
}

.title::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    background-color:#555;
    border: none;
    top: 54px;
    left:50%;
    transform: translateX(-50%);
}

.text {
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 476px;
}

.col-count {
    font-family: 'Roboto Slab', serif;
    line-height: 24px; 
    margin-top: 0;
    margin-bottom: 70px;
    text-align: left;
    column-count: 2;
    column-gap: 30px;
}

.about-us__slider {
    /* margin-top: 0 auto; */
    max-width: 1140px;
    position: relative;
    font-size: 0px;
}

.staff-card {
    width: auto;
    height: auto;
    font-size: 14px;
    display: inline-block;
    margin-right: 30px;
}

.staff-card:nth-child(4) {
    margin-right: 0px;
}

.btn-slider {
    position: absolute;
    width: 35px;
    height: 38px;
    background-color: #c0301c;
} 

.prev {
    left:-25px;
    top: 106px;
    padding: 0;
    background-image: url(img/btn-left.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}   

.next {
    top: 106px;
    right: -25px;
    padding: 0;
    background-image: url(img/btn-right.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
} 

.disable{
    background-color: #d6d6d6;
    border: none;
}

.staff-img-first {
    background-image: url(img/head_of_ideas.jpg);
}

.staff-img-second {
    background-image: url(img/lwp_developer.jpg);
}

.staff-img-third {
    background-image: url(img/web_developer.jpg);
}   

.staff-img-fourth {
    margin-right: 0;
    background-image: url(img/fe_developer.jpg);
}

.staff-bg {
    position: relative;
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.effect {
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    top:0;
    background:rgba(83, 82, 82, 0.5);
    display:none;
}
  
.staff-bg:hover .effect {
    display: block;
}

.social {
    font-size: 0;
    position: relative;
    top:197px;
}

.social-link {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}

.social-link:hover {
    padding: 10px;
    background-color: #c0301c;
}